/*
    reset
*/

body,div,b,ul,li,a{
    padding: 0;
    margin: 0;
}

li,ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Microsoft yahei';
    font-size: 14px;
}
.clearfix:after,
.clearfix:before{
    content: '';
    display: table;
}
.clearfix:after{
    clear: both;
}
.clearfix{
    *zoom:1;
    overflow: hidden;
}
#time{
    height: 30px;
    width: 200px;
    border:1px solid #ccc;
    padding-left: 10px;
    outline:none;
}
#time:focus{
    border-color:#4fc08d;
}
/*
    ui-date
*/

.ui-date{
    position: absolute;
    z-index: 100;
    width: 250px; 
}

.ui-date-head{
    position: relative;
    height: 35px;
    line-height: 35px;
    background-color: #4fc08d;
    text-align: center;
}
.ui-data-select{
    position: relative;
    display: inline-block;
}
.ui-data-select .data-hd{
    position: relative;
    width: 80px;
    height: 25px;
    line-height: 25px;
    background: #fff;
    font-size: 12px;
}
.ui-data-select .data-hd span{
    padding-right: 10px;
}
.ui-data-select .data-icon{
    position: absolute;
    border: 6px solid transparent;
    right: 10px;
    top: 9px;
    border-top-color: #ccc;
    cursor: pointer;
}
.ui-data-select .data-icon:after{
    content: '';
    position: absolute;
    top: -8px;
    right: -7px;
    border: 7px solid transparent;
    border-top-color: #fff;
    
}

.ui-data-select .data-bd{
    position: absolute;
    top: 25px;
    width: 80px;
    display: none;
    background: #fff;
    font-size: 12px;
    border: 1px solid #4fc08d;
    border-top: none;
    margin-left: -1px;
}
.ui-data-select .data-bd ul{
    max-height: 200px;
    overflow: auto;
}

.ui-data-select .data-bd a{
    padding-right: 6px;
    color: #333;
}
.ui-data-select .data-bd a:hover{
    background: #4fc08d;
    color: #fff;
    display: block;
}
.ui-data-select .data-bd li{
    height: 25px;
    line-height: 25px;
}
.ui-data-select.active .data-bd{
    display: block;
}
.ui-data-pre,
.ui-data-next{
    position: absolute;
    top: 9px;
    border: 7px solid transparent;
    transition: .3s all ease-out;
    cursor: pointer;
}

.ui-data-pre{
    border-right-color: rgba(255,255,255,.6);
    left: 5px;
}
.ui-data-pre:hover{
    border-right-color: rgba(255,255,255,1);
}
.ui-data-next{
    border-left-color: rgba(255,255,255,.6);
    right: 5px;
}
.ui-data-next:hover{
    border-left-color: rgba(255,255,255,1);
}

.ui-date-title{
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.ui-date-title ul{
    height: 30px;
    line-height: 30px;
    overflow: hidden;
}
.ui-date-body li,
.ui-date-title li{
    width: 14%;
    float: left;
    text-align: center;
    
}
.ui-date-body ul{
    border:1px solid #ccc;
    padding: 10px 0;
}
.ui-date-body li{
    height: 35px;
    line-height: 35px;
    cursor: pointer;
}
.ui-date-body li a{
    display: block;
    color: #333;
}
.ui-date-body li.active a,
.ui-date-body li:hover a{
    background-color: #4fc08d;
    color: #fff;
}
